<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogsLocation" value=""/>
    <add key="LogRequests" value="true"/>
    <add key="LogErrors" value="true"/>
    <add key="LogInformation" value="true"/>
    <add key="LogDebug" value="true"/>
    <add key="EnablePerfmon" value="true"/>
    <add key="EnableEventLog" value="false"/>
    <add key="BypassProcessing" value="false"/>
    <add key="ExternalData" value="false"/>

    <add key="ProxyIP1" value=""/>
    <add key="ProxyPorts1" value=""/>
    <add key="SupportGZip1" value="true"/>
    <add key="CacheContent1" value="true"/>
    <add key="MaxQueueLength1" value="0"/>
    <add key="ProxiedServers1" value=""/>
    <add key="ServerType1" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
