<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogsLocation" value=""/>
    <add key="LogRequests" value="true"/>
    <add key="LogErrors" value="true"/>
    <add key="LogInformation" value="true"/>
    <add key="LogDebug" value="true"/>
    <add key="EnablePerfmon" value="true"/>
    <add key="EnableEventLog" value="false"/>
    <add key="BypassProcessing" value="false"/>
    <add key="ExternalData" value="false"/>

    <add key="ProxyIP1" value="192.168.1.2"/>
    <add key="ProxyPorts1" value="80|,443|"/>
    <add key="SupportGZip1" value="true"/>
    <add key="CacheContent1" value="true"/>
    <add key="MaxQueueLength1" value="0"/>
    <add key="ProxiedServers1" value="192.168.1.2|www.calypsosys.com|80|false,win7base|www.josephschmitt.com|80|false"/>
    <add key="ServerType1" value=""/>
  </appSettings>
</configuration>